* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 32px 0;
    text-align: center;
}

.links {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.mylink {
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 4px;
    color: brown;
    border: 1px solid brown;
    box-sizing: border-box;
}